h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 400px;
}

.form {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}

p {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}